* {
  box-sizing: border-box;
  outline: none;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0 $space-sm;
  height: 100%;
}

#app {
  font-family: $font-primary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $color-text;
  font-size: $font-size-base;
  line-height: $line-height-base;
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  flex-grow: 1;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  font-family: $font-primary;
  border: 1px solid transparent;
  border-radius: $radius-sm;
  background-color: $color-primary-light;
  padding: 0.625rem;
  font-size: 1rem;
}

input[type='submit'] {
  font-family: $font-bold;
}

a {
  text-decoration: none;
  color: $color-text-secondary;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}
